<h2>Contact me</h2>

{{#if isSent}}
  <div class="isSent">
    The message has been sent!
    Filename: {{ fileName }} has been saved!
  </div>
{{/if}}

{{#if isError}}
  <div class="isError">
    You can't leave fields empty!
  </div>
{{/if}}

<form action="/contact/send-message" method="POST" enctype="multipart/form-data">
  <label for="author">
    Your name: <input type="text" id="author" name="author">
  </label>
  <label for="sender">
    Your email: <input type="email" id="sender" name="sender">
  </label>
  <label for="title">
    Title: <input type="text" id="title" name="title">
  </label>
  <label for="design">
    Project design: <input type="file" id="design" name="design">
  </label>
  <label for="message">
    Message: <textarea id="message" name="message"></textarea>
  </label>
  <button type="submit">Send message</button>
</form>
